@import 'tailwindcss/base.css';
@import 'tailwindcss/components.css';
@import 'tailwindcss/utilities.css';

html {
	@apply duration-200;
	@apply transition-colors;
}

.bg:not(.bg2) {
	--gradient-from: rgba(249, 244, 144, 0.8);
	--gradient-to: rgba(218, 208, 11, 0.8);
}

.bg2 {
	--gradient-from: rgba(18, 105, 140, 0.8);
	--gradient-to: rgba(6, 37, 50, 0.8);
}

.bg {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-image: linear-gradient(to bottom right, var(--gradient-from), var(--gradient-to)), url(/images/bg.jpg);
}

.text-risas {
	@apply p-2;
	@apply font-bold;
	@apply leading-none;
	@apply bg-summer-sky;
	@apply max-w-max-content;
	@apply text-paris-daisy;
	@apply rounded-lg;
}

.content {
	@apply px-6;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

@screen lg {
	.content {
		width: 80%;
	}
}
